body {
	background-color: #cde1fe;
}

#header {
	background-color: #033D96;
}

header h1 {
	color: #FFFFFF;
	background-color: #033D96;
	padding-top: 1%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}

#footer {
	background-color: #033D96;
	color: #FFFFFF;
	margin-top: 20px;
}

.contact {
	padding: 2% 0% 0% 5%;
}

.contact img {
	width: 1.2rem;
}

.link {
	padding: 2% 0% 0% 5%;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover {
	color: #666666;
}

/* Navigation Bar */

.bg-light {
	background-color: #033D96!important;
}

.navbar-light .navbar-nav .nav-link {
	background-color: #7C9E10;
	color: #FFFFFF;
}

.dropdown-menu {
	background-color: #B6EB0C;
}

h2 {
	color: #7C9E10;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	padding: 5px;
}

#intro {
	width: 85%;
	padding-left: 50px;
	margin-top: 20px;
}

.home img {
	border: .25rem solid #7C9E10;
	border-radius: 1rem;
	margin-bottom: 1rem;
	
}

.podcast {
	font-weight: bold;
}

.podcast img {
	width: 1.2rem;
}

.podcast a {
	text-decoration: none;
	color: black;
}

.podcast a:hover {
	color: #666666;
}

/* Project page cards */

.card {
	border-radius: 1rem;
	border: .5rem solid #7C9E10;
}

.card img {
	margin: auto;
	width: 50%;
	border-radius: 1rem;
	margin-top: 0.5rem;
}

.card-title {
	font-weight: bold;
	text-transform: uppercase;
}
