body {
	background-color: #9bc2fd;
}

#header {
	background-color: #033D96;
}

header h1 {
	color: #FFFFFF;
	background-color: #033D96;
	padding-top: 1%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}

#footer {
	background-color: #033D96;
	color: #FFFFFF;
	margin-top: 20px;
}

.contact {
	padding: 2% 0% 0% 5%;
}

.link {
	padding: 2% 0% 0% 5%;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover {
	color: #666666;
}

/* Navigation Bar */
.bg-light {
	background-color: #033D96!important;
}

.navbar-light .navbar-nav .nav-link {
	background-color: #7C9E10;
	color: #FFFFFF;
}

.dropdown-menu {
	background-color: #B6EB0C;
}

h2 {
	color: #7C9E10;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	padding: 5px;
}

#intro {
	width: 80%;
	background-color: #cde1fe;
	border-radius: 2rem;
	padding-left: 50px;
	margin-top: 20px;
}

.home img {
	border: .25rem solid #7C9E10;
	margin-bottom: 1rem;
}

.podcast {
	font-weight: bold;
}

.podcast a{
	text-decoration: none;
	color: black;
}

.podcast a:hover {
	color: #666666;
}

.card {
	margin: 1rem auto;
	border-radius: 1rem;
	border: .5rem solid #7C9E10;
	/* background-color: #e4fa9e; */
}

.card img {
	width: 60%;
	margin: auto;
}

.card-title {
	font-weight: bold;
}